
.m-header{
 text-align:center;
  background-color:red;
  background-image: url(https://image.shutterstock.com/image-photo/colorful-hot-air-balloons-flying-260nw-1033306540.jpg);
}

.pic{
  border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;
  
}

.item2 {
  background-color:yellow;
  
}

.item3 {
  background-color:blue;

}```
